:global(html) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #679b9b;
    outline: none;
    font-size: 13px;
    cursor: pointer;
    color:#fff;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 5px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}